
div.magento-abonament {
  display: flex;
  flex-direction: column; /* turn children ul elements into stacked rows */

  ul.row {
    list-style: none;
    display: flex; /* turn children li elements into flex children */
    flex: 1;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    li:nth-child(2) {
      background: #f5f5f5;
      margin-right: 1px;
    }

    li:nth-child(3) {
      background: #f4f4f4;
      margin-right: 1px;
    }

    li:nth-child(4) {
      background: #f3f3f3;
    }

    li {

      flex: 1;
      padding: 10px;
      border-bottom: 1px solid #d1d1d1;
      margin: 0px;
      text-align: center;

      span.price {
        display: block;
        font-size: 150%;
        color: #008e14;
      }
    }

    /* the legend column (first li within each row) */

    li.legend {
      background: #fff;
      color: #000000;
      border: none;
      width: 200px;
      border-bottom: 1px solid #d1d1d1;
      margin-bottom: 0px;
      text-align: left;
    }
  }

  /* every first row */

  ul.row:first-of-type {
    li {
      text-align: center;

      &.legend.legend {
        background: transparent;
        box-shadow: none;
      }
    }
  }

  /* every last row */

  ul.row:last-of-type li {
    text-align: center;
    border-bottom: none;

    &.legend {
      background: transparent;
      box-shadow: none;
    }
  }

}

@media screen and (max-width: 650px) {

  div.magento-abonament {
    ul.row {
      flex-direction: column;

      li {
        margin-right: 0;
        width: auto;
        flex: auto;
      }
    }

    img {
      width: auto;
      height: auto;
    }
  }

    /* first and last cell within legend column */
  div.magento-abonament ul.row:first-of-type li.legend.legend,
  div.magento-abonament ul.row:last-of-type li.legend {
    display: none;
  }

  div.magento-abonament ul.row li.legend {
    width: auto;
  }
}